@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    background-color: black;
    color: white;

}

* {
    margin: 0px;
    padding: 0px;
}

header {
    margin-bottom: 10px;
}


nav.container {
    display: flex;            /* Ativa Flexbox */
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
    text-align: center;
}


.redes-sociais-left {
    text-align: right;
}

.redes-sociais-right {
    text-align: left;

}

.redes-sociais-left img, .redes-sociais-right img {
    width: 45px;
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
    
    
}

.menu-left, .menu-right {
    display: flex;     
}

.menu-left a, .menu-right a {
    font-family: 'Anton', sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    padding: 10px;
    color: white;
    text-decoration: blue;
}

img.logo-header {
    width: 241px;
    height: 138px;
    padding: 0 20px; 
}

main img.triad {
    display: block;
    margin: auto;
    width: 95%;
}

/*HOVERS*/

.redes-sociais-left img:hover,
.redes-sociais-right img:hover {
    border: 2px solid red;
    transition: border 0.2s;
  
}

.menu-left a:hover, .menu-right a:hover {
    text-decoration: underline red;
    color: red;
    transition: text-decoration 0.7s, color 0.7s;
}
